<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Countries</title>

    <link rel="stylesheet" href="app/style/css/app.css" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />

</head>

<body ng-app="countries-app">

<span ng-controller="CountriesController">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="navbar-nav">
                    <li>
                        Countries
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li>
                        {{ date | date:'dd/MM/yyyy HH:mm'}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="container-wrapper">
                <div class="center">
                    <img ng-src="{{event.imageUrl}}" alt="{{event.name}}" />
                </div>

                <div class="center">
                    <h4>
                        <span class="line-through">Cute</span>
                        <span class="line-through">Nice</span>
                        Lousy example with countries
                    </h4>
                    <img src="app/style/images/gaaay.jpg" style="width: 7%; height: 7%">
                </div>

                <div class="form-group row">
                    <input type="text" class="form-control cornered-input" ng-model="excludedCountryName" style="width: 40%"
                           placeholder="Type country you want to exclude">
                </div>

                <ul style="margin-top: 2em">
                    <li ng-repeat="country in CountriesService.countriesList | weDontLike : excludedCountryName">

                        <country-line country="country"></country-line>

                    </li>
                </ul>

                <div class="form-group row" style="margin-top: 2em">
                    <div style="margin-bottom: 0.5em">Add new country</div>
                    <input type="text" class="form-control cornered-input" ng-model="newCountry.name" style="width: 40%"
                           placeholder="Name">
                    <input type="text" class="form-control cornered-input" ng-model="newCountry.capitalCity" style="width: 40%"
                           placeholder="Capital city">
                    <input type="text" class="form-control cornered-input" ng-model="newCountry.currency" style="width: 40%"
                           placeholder="Currency">
                    <input type="text" class="form-control cornered-input" ng-model="newCountry.stereotype" style="width: 40%"
                           placeholder="Stereotype about the country">
                    <input type="text" class="form-control cornered-input" ng-model="newCountry.flagImage" style="width: 40%"
                           placeholder="Flag url">

                    <div style="margin-top: 1em">
                        <button type="button" class="btn btn-info" style="width: 40%" ng-show="!showConfirm"
                                ng-disabled="status.inProgress" ng-click="showConfirm = true">
                            Add
                        </button>

                        <button type="button" class="btn btn-info" style="width: 20%" ng-show="showConfirm"
                                ng-click="addNewCountry(newCountry); showConfirm = false">
                            Yes
                        </button>
                        <button type="button" class="btn btn-info" style="width: 20%" ng-show="showConfirm"
                                ng-click="showConfirm = false">
                            No
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </span>

    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js" />
    <script src="lib/jquery-ui/jquery-ui.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="app/js/app.js"></script>

    <script src="app/js/controller/CountriesController.js"></script>
    <script src="app/js/service/CountriesService.js"></script>
    <script src="app/js/directive/CountryDirective.js"></script>
    <script src="app/js/filter/weDontLike.js"></script>
    <script src="app/js/filter/expandedFirst.js"></script>

</body>

</html>