
<span>
    <div class="row">
        <span class="pointer-cursor glyphicon" ng-class="country.isShown ? 'glyphicon-minus-sign' : 'glyphicon-plus-sign'"
              ng-click="country.isShown = !country.isShown">
        </span>
        <img ng-src="{{ICONS_PATH + country.flagImage}}" height="25" width="25" />
        {{country.name}}
    </div>

    <span ng-show="country.isShown" class="oval-thought-border">
        <div class="row">
            <div class="span3">
                <b>Capital:</b> &nbsp;
                {{country.capitalCity}}
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <b>Currency:</b> &nbsp
                {{country.currency}}
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <b>Stereotype:</b> &nbsp;
                {{country.stereotype}}
            </div>
        </div>
    </span>
</span>
